<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Lobbing 卓球ラバー診断 たった5問でおすすめのラバーが分かる</title>
  <meta name="description" content="卓球ラバー診断。卓球好き社会人が考えたラバー診断。寝る前にポチっとどうぞ。">
  <meta name="keywords" content="卓球、卓球ラバー診断、診断メーカー、診断アプリ、ラバー、WEB制作、WEBアプリ、Lobbing">

  <meta property="og:title" content="『卓球ラバー診断』  たった5問でおすすめのラバーが分かる!!"><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="article"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content="https://lobbing-worksheet.web.app/assets/images/pages/index/ogp.jpg"><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content="https://lobbing-worksheet.web.app"><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content="卓球ラバー診断。卓球好き社会人が考えたラバー診断。寝る前にポチっとどうぞ。"><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary_large_image"/>
  
  <link rel="icon" href="/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">
    <%- include('/header') %>

    <main class="l-main">
      <div class="sec-loading">
        <div class="container">

          <!-- <?xml version="1.0" encoding="utf-8"?> -->
          <svg id="logo" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 372.67 95.36">
            <g id="text-full">
              <g id="text-1">
                <path class="st0" d="M60.21,71.41H11.57A5.59,5.59,0,0,1,9.43,71a5.21,5.21,0,0,1-1.7-1.13,5.38,5.38,0,0,1-1.13-1.7A5.57,5.57,0,0,1,6.19,66V12.59H16.86V60.74H60.21Z"/>
              </g>
              <g id="text-2">
                <path class="st0" d="M115.09,56.44a16.11,16.11,0,0,1-.7,4.94,14.53,14.53,0,0,1-1.84,3.86,12.87,12.87,0,0,1-2.67,2.83A15.74,15.74,0,0,1,106.7,70a16.51,16.51,0,0,1-6.58,1.44H80.88A17.12,17.12,0,0,1,76,70.63a14.1,14.1,0,0,1-8.59-7.2,14.86,14.86,0,0,1-1.5-7V42a14.78,14.78,0,0,1,1.5-7,14.43,14.43,0,0,1,3.73-4.64A14.22,14.22,0,0,1,76,27.85a17.12,17.12,0,0,1,4.84-.78h19.24a15,15,0,0,1,7,1.48,13.82,13.82,0,0,1,4.64,3.71,14.76,14.76,0,0,1,2.56,4.86,16.94,16.94,0,0,1,.8,4.88ZM104.43,42.08a4.37,4.37,0,0,0-1.11-3.28,4.45,4.45,0,0,0-3.2-1.07H81a4.47,4.47,0,0,0-3.24,1.09A4.31,4.31,0,0,0,76.62,42V56.44A3.86,3.86,0,0,0,81,60.74h19.16a4.29,4.29,0,0,0,3.24-1.1,4.45,4.45,0,0,0,1.07-3.2Z"/>
              </g>
              <g id="text-3">
                <path class="st0" d="M173,56.44a15.93,15.93,0,0,1-.34,3.2A17.13,17.13,0,0,1,171.61,63a15.34,15.34,0,0,1-1.91,3.18,12.7,12.7,0,0,1-2.83,2.68A13.94,13.94,0,0,1,163,70.71a15.93,15.93,0,0,1-4.92.7H138.88a16,16,0,0,1-3.2-.35A16.28,16.28,0,0,1,132.34,70a15.74,15.74,0,0,1-3.18-1.9,13.2,13.2,0,0,1-2.69-2.83,14,14,0,0,1-1.86-3.86,16.11,16.11,0,0,1-.7-4.94V8.33h10.66V56.44a4.13,4.13,0,0,0,1.23,3.14,4.33,4.33,0,0,0,3.08,1.16h19.24a4.09,4.09,0,0,0,3.13-1.19,4.34,4.34,0,0,0,1.13-3.11V42a4.13,4.13,0,0,0-1.19-3.14,4.29,4.29,0,0,0-3.07-1.13H138.88V27.07h19.24a16.25,16.25,0,0,1,9.72,3.34,12.6,12.6,0,0,1,2.66,2.83,14.56,14.56,0,0,1,1.85,3.84A16.25,16.25,0,0,1,173,42Z"/>
              </g>
              <g id="text-4">
                <path class="st0" d="M231,56.44a16,16,0,0,1-.35,3.2A16.44,16.44,0,0,1,229.61,63a15.79,15.79,0,0,1-1.91,3.18,12.7,12.7,0,0,1-2.83,2.68A14,14,0,0,1,221,70.71a15.93,15.93,0,0,1-4.92.7H196.88a15.89,15.89,0,0,1-3.2-.35,16.17,16.17,0,0,1-6.53-3,13.15,13.15,0,0,1-2.68-2.83,14.28,14.28,0,0,1-1.87-3.86,16.42,16.42,0,0,1-.7-4.94V8.33h10.67V56.44a4.13,4.13,0,0,0,1.23,3.14,4.32,4.32,0,0,0,3.08,1.16h19.23a4.09,4.09,0,0,0,3.14-1.19,4.34,4.34,0,0,0,1.13-3.11V42a4.13,4.13,0,0,0-1.19-3.14,4.32,4.32,0,0,0-3.08-1.13H196.88V27.07h19.23a16,16,0,0,1,3.2.35,15.7,15.7,0,0,1,3.34,1.09,15.29,15.29,0,0,1,3.18,1.9,12.87,12.87,0,0,1,2.67,2.83,14.54,14.54,0,0,1,1.84,3.84A15.93,15.93,0,0,1,231,42Z"/>
              </g>
              <g id="text-5">
                <path class="st0" d="M251,18H240.31V8.33H251Zm0,53.45H240.31V27.07H251Z"/>
              </g>
              <g id="text-6">
                <path class="st0" d="M310.32,71.41H299.66V46.8a9.29,9.29,0,0,0-.72-3.75A8.7,8.7,0,0,0,297,40.2a8.28,8.28,0,0,0-2.89-1.83,10,10,0,0,0-3.59-.64H271.85V71.41H261.19v-39a5.1,5.1,0,0,1,.41-2.07,5,5,0,0,1,1.15-1.68,5.3,5.3,0,0,1,1.72-1.13,5.41,5.41,0,0,1,2.09-.41h24a21.48,21.48,0,0,1,4.24.45A20.16,20.16,0,0,1,299.27,29a21.52,21.52,0,0,1,4.18,2.54A17,17,0,0,1,307,35.25a18.21,18.21,0,0,1,2.44,5.07,21.59,21.59,0,0,1,.9,6.48Z"/>
              </g>
              <g id="text-7">
                <path class="st0" d="M367.91,75.67a16.17,16.17,0,0,1-.7,5,14.46,14.46,0,0,1-1.84,3.85,12.66,12.66,0,0,1-2.67,2.83,15.34,15.34,0,0,1-3.18,1.91,16.88,16.88,0,0,1-3.36,1.09,16.27,16.27,0,0,1-3.22.34H333.7V80h19.24a4.3,4.3,0,0,0,3.24-1.11,4.43,4.43,0,0,0,1.07-3.2V42a3.81,3.81,0,0,0-4.31-4.27H333.7a4.1,4.1,0,0,0-3.11,1.21A4.26,4.26,0,0,0,329.44,42V56.44a3.86,3.86,0,0,0,4.35,4.3h19.15V71.41H333.7a16,16,0,0,1-3.2-.35A16.48,16.48,0,0,1,327.16,70a15.74,15.74,0,0,1-3.18-1.9,12.6,12.6,0,0,1-2.66-2.83,14.54,14.54,0,0,1-1.85-3.86,16.42,16.42,0,0,1-.7-4.94V42a16,16,0,0,1,.35-3.2,16.48,16.48,0,0,1,1.09-3.34,15.34,15.34,0,0,1,1.91-3.18A12.66,12.66,0,0,1,325,29.61a14.33,14.33,0,0,1,3.83-1.84,15.93,15.93,0,0,1,4.92-.7h19.24a16.31,16.31,0,0,1,3.22.35,15.68,15.68,0,0,1,3.36,1.09,15.29,15.29,0,0,1,3.18,1.9,12.87,12.87,0,0,1,2.67,2.83,14.54,14.54,0,0,1,1.84,3.84,15.93,15.93,0,0,1,.7,4.92Z"/>
              </g>
            </g>
          </svg>
        </div>
      </div>

      <section class="sec-question is-active" data-question-container>

          <div class="sec-question__head">
            <ul class="icon">
              <li class="icon__item is-active" data-pagenation01>1</li>
              <li class="icon__item" data-pagenation02>2</li>
              <li class="icon__item" data-pagenation03>3</li>
              <li class="icon__item" data-pagenation04>4</li>
              <li class="icon__item" data-pagenation05>5</li>
            </ul>
          </div>

          <div class="sec-question__body">
            <!-- 1問目/////////////////////////////////////////////////////// -->
            <li class="question is-active" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_1.svg" alt=""></span>
                <p>ラバーが好きか嫌いか？</p>
              </div>
              <div class="question__select">
                <input class="btn" type="radio" value="0"><label class="label" for="q1-y" data-question-trigger="1-1">好き</label>
                <input class="btn" type="radio" value="1"><label class="label" for="q1-n" data-question-trigger="1-2">嫌い</label>
              </div>
            </li>
  
            <!-- 2問目//////////////////////////////////////////// -->
            <li class="question" data-question-target="1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_2.svg" alt=""></span>
                <p>得意な戦術は？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q2" type="radio" value="1"><label class="label" for="q2-y" data-question-trigger="1-1-1">台上技術</label>
                <input class="btn" name="q2" type="radio" value="0"><label class="label" for="q2-n" data-question-trigger="1-1-2">大きなラリー戦</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_2.svg" alt=""></span>
                <p>欲しい能力は？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q2" type="radio" value="1"><label class="label" for="q2-y" data-question-trigger="1-2-1">人の心が読める</label>
                <input class="btn" name="q2" type="radio" value="0"><label class="label" for="q2-n" data-question-trigger="1-2-2">人より優れた体力</label>
              </div>
            </li>
            
            <!-- 3問目/////////////////////////////////////////////// -->
            <li class="question" data-question-target="1-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_3.svg" alt=""></span>
                <p>出るか出ないかのボール捌きを武器にしたい？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q3" type="radio" value="1"><label class="label" for="q3-y" data-question-trigger="1-1-1-1">はい</label>
                <input class="btn" name="q3" type="radio" value="0"><label class="label" for="q3-n" data-question-trigger="1-1-1-2">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_3.svg" alt=""></span>
                <p>パワーがあるほうだ</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q3" type="radio" value="1"><label class="label" for="q3-y" data-question-trigger="1-1-2-1">はい</label>
                <input class="btn" name="q3" type="radio" value="0"><label class="label" for="q3-n" data-question-trigger="1-1-2-2">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_3.svg" alt=""></span>
                <p>カル？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q3" type="radio" value="1"><label class="label" for="q3-y" data-question-trigger="1-2-1-1">デラノ</label>
                <input class="btn" name="q3" type="radio" value="0"><label class="label" for="q3-n" data-question-trigger="1-2-1-2">ロス・ゴーン</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_3.svg" alt=""></span>
                <p>好きな卓球ユーチューバーは？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q3" type="radio" value="1"><label class="label" for="q3-y" data-question-trigger="1-2-2-1">さくまぶらざあず</label>
                <input class="btn" name="q3" type="radio" value="0"><label class="label" for="q3-n" data-question-trigger="1-2-2-2">それ以外</label>
              </div>
            </li>

            <!-- 4問目/////////////////////////////////////////////// -->
            <li class="question" data-question-target="1-1-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <p>ラバー1枚にかけれる予算は？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-1-1-1-1">5000円以上</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-1-1-1-2">5000円以内</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <p>細かい技術よりパワーで勝負したい？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-1-1-2-1">はい</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-1-1-2-2">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <p>好きな女性のタイプもパワーがあるほうだ</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-1-2-1-1">はい</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-1-2-1-2">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <p>もしかして華奢な女性が好き？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-1-2-2-1">はい</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-1-2-2-2">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <p>人は見た目じゃないハートだ</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-2-1-1-1">はい</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-2-1-1-2">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <div class="sub">
                  <img src="/assets/images/pages/index/karurosu.jpg" alt="">
                </div>
                <p>やっちゃえ？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-2-1-2-1">日産</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-2-1-2-2">バタフライ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <div class="sub">
                  <a href="https://youtu.be/wOVpLKr7jEs" target="_blank"><img src="/assets/images/pages/index/sakuma-01.jpg" alt="" style="width: 100%; height: auto;"></a>
                  <p>※画像クリックでさくまぶらざあずのYouTubeに飛びます。<br>（別タブにて）</p>
                </div>
                <p>さくまぶらざーず</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-2-2-1-1">見る</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-2-2-1-2">見ない</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_4.svg" alt=""></span>
                <p>声の出し方は？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q4" type="radio" value="1"><label class="label" for="q4-y" data-question-trigger="1-2-2-2-1">チョレイ・フォレイ</label>
                <input class="btn" name="q4" type="radio" value="0"><label class="label" for="q4-n" data-question-trigger="1-2-2-2-2">ピャーレイ・ピャーーー</label>
              </div>
            </li>

            <!-- 5問目/////////////////////////////////////////////// -->
            <li class="question" data-question-target="1-1-1-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>中国ラバーが好き？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="01">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="02">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-1-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>中国ラバーが好き？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="03">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="04">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-1-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>打球が弧線を描きやすいラバーが良い？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="05">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="06">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-1-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>どっちが理想？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="07">ノーミスで下回転打ち10本入る</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="08">ノーミスでカウンター10本入る</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>面を開いて打つほうだ</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="09">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="10">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>早いピッチでの卓球が持ち味である</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="11">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="12">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>台上が短く止まるラバーが良い</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="13">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="14">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-1-2-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>ラケットの角にボールが当たることが多い</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="15">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="16">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>アジアの卓球よりヨーロッパの卓球が好きだ</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="17">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="18">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>やわらかいラバーが好きである</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="19">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="20">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>人と違ったラバーを使いたい</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="21">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="22">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-1-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>● ● ● タス</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="23">ヴィクタス</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="24">フレイタス</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2-1-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <div class="sub">
                  <a href="https://youtu.be/dAwowgvgywc" target="_blank"><img src="/assets/images/pages/index/sakuma-02.jpg" alt="" style="width: 100%; height: auto;"></a>
                  <p>※画像クリックでさくまぶらざあずのYouTubeに飛びます。<br>（別タブにて）</p>
                </div>
                <p>YGサーブを極めたい</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="25">はい</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="26">いいえ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2-1-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>台上はフリックで攻める or ツッツキで攻める</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="27">フリック</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="28">ツッツキ</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2-2-1" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>練習は？</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="29">苦手を克服する派</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="30">得意を成長させる派</label>
              </div>
            </li>

            <li class="question" data-question-target="1-2-2-2-2" data-question-close>
              <div class="question__query">
                <span><img src="/assets/images/pages/index/question_icon_num_5.svg" alt=""></span>
                <p>ボールは?</p>
              </div>
              <div class="question__select">
                <input class="btn" name="q5" type="radio" value="1"><label class="label" for="q5-y" data-question-trigger="31">相手が練習していないボールを選ぶ</label>
                <input class="btn" name="q5" type="radio" value="0"><label class="label" for="q5-n" data-question-trigger="32">自分が練習しているボールを選ぶ</label>
              </div>
            </li>
          </div>  
      </section>

      <!-- 回答////////////////////////////////////////////// -->
      <section class="sec-answer" data-sec-answer>
        <div class="answer" data-answer>
          <div class="answer__head">

            <!-- 回答MV  //////////////////////////////////////////// -->
            <div class="mv" data-question-target="01">
              <div class="mv__bg mv__bg--01 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/01.jpg" alt=""></div>
              <h2 class="mv__title">キョウヒョウネオ3</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="02">
              <div class="mv__bg mv__bg--02 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/02.jpg" alt=""></div>
              <h2 class="mv__title">ハイブリットK1J</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="03">
              <div class="mv__bg mv__bg--03 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/03.jpg" alt=""></div>
              <h2 class="mv__title">キョウヒョウ3国狂ブルー</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="04">
              <div class="mv__bg mv__bg--04 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/04.jpg" alt=""></div>
              <h2 class="mv__title">DNAドラゴングリップ</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="05">
              <div class="mv__bg mv__bg--05 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/05.jpg" alt=""></div>
              <h2 class="mv__title">ディグニクス09C</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="06">
              <div class="mv__bg mv__bg--06 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/06.jpg" alt=""></div>
              <h2 class="mv__title">ファスタークG1</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="07">
              <div class="mv__bg mv__bg--07 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/07.jpg" alt=""></div>
              <h2 class="mv__title">ラクザ7</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="08">
              <div class="mv__bg mv__bg--08 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/08.jpg" alt=""></div>
              <h2 class="mv__title">テナジー64</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="09">
              <div class="mv__bg mv__bg--09 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/09.jpg" alt=""></div>
              <h2 class="mv__title">キョウヒョウ3国狂ブルー</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="10">
              <div class="mv__bg mv__bg--10 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/10.jpg" alt=""></div>
              <h2 class="mv__title">ディグニクス05</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="11">
              <div class="mv__bg mv__bg--11 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/11.jpg" alt=""></div>
              <h2 class="mv__title">テナジー64</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="12">
              <div class="mv__bg mv__bg--12 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/12.jpg" alt=""></div>
              <h2 class="mv__title">ディグニクス05</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="13">
              <div class="mv__bg mv__bg--13 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/13.jpg" alt=""></div>
              <h2 class="mv__title">ロゼナ</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="14">
              <div class="mv__bg mv__bg--14 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/14.jpg" alt=""></div>
              <h2 class="mv__title">エクステンドHS</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="15">
              <div class="mv__bg mv__bg--15 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/15.jpg" alt=""></div>
              <h2 class="mv__title">ファスタークC1</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="16">
              <div class="mv__bg mv__bg--16 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/16.jpg" alt=""></div>
              <h2 class="mv__title">ラクザ7</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="17">
              <div class="mv__bg mv__bg--17 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/17.jpg" alt=""></div>
              <h2 class="mv__title">ターゲットGTH_47</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="18">
              <div class="mv__bg mv__bg--18 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/18.jpg" alt=""></div>
              <h2 class="mv__title">オメガⅦツアーi48</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="19">
              <div class="mv__bg mv__bg--19 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/19.jpg" alt=""></div>
              <h2 class="mv__title">オメガⅦヨーロ</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="20">
              <div class="mv__bg mv__bg--20 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/20.jpg" alt=""></div>
              <h2 class="mv__title">オメガⅦツアーi50</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="21">
              <div class="mv__bg mv__bg--21 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/21.jpg" alt=""></div>
              <h2 class="mv__title">ラザンターR50</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="22">
              <div class="mv__bg mv__bg--22 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/22.jpg" alt=""></div>
              <h2 class="mv__title">エボリューションMXD</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="23">
              <div class="mv__bg mv__bg--23 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/23.jpg" alt=""></div>
              <h2 class="mv__title">V20ダブルエキストラ</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="24">
              <div class="mv__bg mv__bg--24 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/24.jpg" alt=""></div>
              <h2 class="mv__title">ディグニクス09C</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="25">
              <div class="mv__bg mv__bg--25 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/25.jpg" alt=""></div>
              <h2 class="mv__title">ラザンターR48</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="26">
              <div class="mv__bg mv__bg--26 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/26.jpg" alt=""></div>
              <h2 class="mv__title">ズィーガーPK50</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="27">
              <div class="mv__bg mv__bg--27 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/27.jpg" alt=""></div>
              <h2 class="mv__title">翔龍</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="28">
              <div class="mv__bg mv__bg--28 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/28.jpg" alt=""></div>
              <h2 class="mv__title">トリプルダブルエキストラ</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="29">
              <div class="mv__bg mv__bg--29 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/29.jpg" alt=""></div>
              <h2 class="mv__title">ロゼナ</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="30">
              <div class="mv__bg mv__bg--30 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/30.jpg" alt=""></div>
              <h2 class="mv__title">ディグニクス05</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="31">
              <div class="mv__bg mv__bg--31 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/31.jpg" alt=""></div>
              <h2 class="mv__title">Bombardゴクウス</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>

            <div class="mv" data-question-target="32">
              <div class="mv__bg mv__bg--32 scroll-target"></div>
              <div class="mv__img"><img src="/assets/images/pages/index/32.jpg" alt=""></div>
              <h2 class="mv__title">ファスタークG1</h2>
              <div class="mv__scroll">
                <div class="scroll">
                  <div class="scroll__line">
                    <div class="line"></div>
                  </div>
                  <p class="scroll__text">SCROLL</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="answer__body" data-answer-body>

            <!-- 回答テキスト//////////////////////////////////////////////////////// -->
            <div class="content scroll-trigger" data-answer-text-target="01">
              <p class="content__text">台上技術を武器にしましょう。<br>弾みを抑えたラバーだからこそ出来る中国選手のような豪快なスイングを身につけましょう。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="02">
              <p class="content__text">粘着ラバーの中ではかなり弾みが強いです。<br>自分から攻めるのもカウンターも武器になるはず。<br>出るか出ないかの処理を練習しましょう。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="03">
              <p class="content__text">最高級ラバーではありますが、一度はみんな使ってみたいラバー。<br>独特な軌道は武器になるはず。<br>ひたすらYouTubeで馬龍を見るべし。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="04">
              <p class="content__text">桁外れのグリップ力を生み出すスポンジはAI(人口知能)を基に開発されているとのこと。<br>新時代のラバーになるのか？？
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="05">
              <p class="content__text">言わずとしれた国内最高峰ラバー、微粘着ですがテンションからの移行も◎、高い弧線を描くため強気に前方にスイングしていきたい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="06">
              <p class="content__text">スイングした方向にボールが飛び出す印象をうけるため、自分の思い通りの展開をつくりやすい。<br>伊藤美誠選手のように、スマッシュとドライブを分けて使いやすいラバーでもある。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="07">
              <p class="content__text">2022年全日本卓球選手権ベスト8の吉山選手も使用するギア。<br>シートが柔らかいため、打っている時のストレスを感じにくい。<br>グリップ力が高いため、少ない力で下回転を持ち上げやすい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="08">
              <p class="content__text">吉田海偉選手使用ラバー。<br>あまりのスピード感に一度使うと病みつきになる。<br>少ない力でも早いボールを出せる。<br>球離れが早いため、薄いタッチの多い人にオススメ。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="09">
              <p class="content__text">最高級ラバーではありますが、一度はみんな使ってみたいラバー。<br>独特な軌道は武器になるはず。<br>ひたすらYouTubeで馬龍を見るべし。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="10">
              <p class="content__text">張本智和選手使用ラバー。<br>とにかく回転がかかるラバーである。<br>スポンジもシートも硬いため、上級者向きか。<br>寿命はすっごく長い。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="11">
              <p class="content__text">吉田海偉選手使用ラバー。<br>あまりのスピード感に一度使うと病みつきになる。<br>少ない力でも早いボールを出せる。<br>球離れが早いため、薄いタッチの多い人にオススメ。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="12">
              <p class="content__text">張本智和選手使用ラバー。<br>とにかく回転がかかるラバーである。<br>スポンジもシートも硬いため、上級者向きか。寿命はすっごく長い。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="13">
              <p class="content__text">コストパフォーマンス最強のラバー。<br>全人類が一度は足を踏み入れたことのある登竜門。<br>ここからテナジーにいってください。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="14">
              <p class="content__text">一週まわって、人と違うボールが出せるためかなり良い。<br>直線的なボールが好きなひとにはもってこい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="15">
              <p class="content__text">スイングした方向にボールが飛び出す印象をうけるため、自分の思い通りの展開をつくりやすい。<br>パワーに自信がない人はG1よりC1がオススメ。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="16">
              <p class="content__text">2022年全日本卓球選手権ベスト8の吉山選手も使用するギア。<br>シートが柔らかいため、打っている時のストレスを感じにくい。<br>グリップ力が高いため、少ない力で下回転を持ち上げやすい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="17">
              <p class="content__text">ブラジル代表カルデラノ選手も使用していたラバー。<br>世界的タイヤメーカーと共同開発が売り。<br>他人と違ったトップラバーを探している人にオススメ。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="18">
              <p class="content__text">ブラジル代表カルデラノ選手・韓国代表ジョンヨンシク選手の現在使用モデルであるラバー。<br>韓国選手ファンは一度使ってみても良いかも！！
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="19">
              <p class="content__text">カルデラノ選手と同じラバーを使いたい！！<br>しかし、硬いラバーは苦手という人にオススメです！！！
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="20">
              <p class="content__text">ブラジル代表カルデラノ選手・韓国代表ジョンヨンシク選手の現在使用モデルであるラバー。<br>韓国選手ファンは一度使ってみても良いかも！！
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="21">
              <p class="content__text">『ラザンターR53』&『ラザンターR48』と同じようにエナジーセルは搭載されていないが、打ってみるとかなり良い。<br>用具にこだわりたい人は一度試してほしい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="22">
              <p class="content__text">サムソノフ選手がフォアに使用しているギア。<br>球が弧線を描く、新時代のラバー。これからのスタンダードになっていきそう。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="23">
              <p class="content__text">岸川聖也選手プロデュースの新ラバー。<br>個人的に打ってみたいためいれてみました笑
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="24">
              <p class="content__text">言わずとしれた国内最高峰ラバー、微粘着ですがテンションからの移行も◎、高い弧線を描くため強気に前方にスイングしていきたい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="25">
              <p class="content__text">ラザンターR47と何が違うねんという疑問の声多いと思いラバーではあるが、エナジーセル技術で球持ちの良さが向上している。<br>アンドロ契約選手も数多く使用。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="26">
              <p class="content__text">Sieger=それはドイツ語で「勝利者」を意味する
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="27">
              <p class="content__text">使用選手にフリックと出るか出ないかの処理の達人が多いイメージ！！<br>ダブルスの試合などが多い社会人にはいい味が出るのではないだろうか。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="28">
              <p class="content__text">粘着だが、シートが柔らかいため、ツッツキがかなり切れるラバー。<br>またブロックもやりやすく、中国製ラバーの中ではかなりとっつきやすい。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="29">
              <p class="content__text">コストパフォーマンス最強のラバー。<br>全人類が一度は足を踏み入れたことのある登竜門。<br>ここからテナジーにいってください。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="30">
              <p class="content__text">張本智和選手使用ラバー。<br>とにかく回転がかかるラバーである。<br>スポンジもシートも硬いため、上級者向きか。寿命はすっごく長い。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="31">
              <p class="content__text">WRMの動画で過去に一世を風靡したラバー。<br>裏なのに異質？？が歌い文句。相手をひたすら苦しめたい人は是非是非。
              </p>
            </div>
            <div class="content scroll-trigger" data-answer-text-target="32">
              <p class="content__text">スイングした方向にボールが飛び出す印象をうけるため、自分の思い通りの展開をつくりやすい。<br>伊藤美誠選手のように、スマッシュとドライブを分けて使いやすいラバーでもある。
              </p>
            </div>

            <div class="appeal" data-appeal>
              <!-- <a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-lang="en" data-show-count="false">Follow @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
              <!-- <div class="appeal__link">
                  <a href="http://twitter.com/share?url=https://lobbing-worksheet.web.app&text=卓球ラバー診断。ラバーを愛している元卓球ショップ店員が考えた卓球ラバー診断。&via=[ツイート内に含むユーザ名]&related=[ツイート後に表示されるユーザー]&hashtags=" target="_blank"><img src="/assets/images/pages/index/share_btn_tw.png" alt="Twitterにシェア"></a>
              </div> -->

              <div class="appeal__link" data-appeal-last>
                <a href="https://twitter.com/Lobbing_?ref_src=twsrc%5Etfw">
                  <img src="/assets/images/pages/index/return_btn_tw.png" alt="Twitterに戻る">
                </a>
              </div>
              <div class="appeal__text">『リツイートとフォローもしてくれたら喜びます!!』</div>
              
              <div class="appeal__link appeal__link--return">
                <a href="" alt="">もう一度診断する</a>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="sec-loading sec-loading--last" data-loading--last>
        <div class="container">
          <svg id="logo--another" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 416.98 37.436" style="enable-background:new 0 0 416.98 37.436;" xml:space="preserve">
            <g>
              <g id="">
                <path class="st1" d="M15.355,25.161c0,2.16,0.065,3.743,0.259,5.435H8.455c0.194-1.692,0.259-3.167,0.259-5.435V7.02H4.892
                  C2.851,7.02,2.3,7.055,0,7.271V0.396C1.069,0.54,2.851,0.648,4.827,0.648h14.189c2.268,0,3.563-0.072,5.054-0.252v6.875
                  c-1.458-0.18-2.721-0.252-5.054-0.252h-3.661V25.161z"/>
              </g>
              <g id="">
                <path class="st1" d="M26.276,30.596c0.194-1.692,0.259-3.204,0.259-5.435V6.083c0-2.484-0.065-4.032-0.259-5.436h6.706
                  c-0.194,1.584-0.259,2.88-0.259,5.436v3.815c0,0.288-0.033,0.864-0.033,1.188c1.944-2.088,3.985-2.988,6.738-2.988
                  c2.203,0,3.952,0.684,5.15,2.016c1.296,1.44,1.847,3.204,1.847,6.047v9.035c0,2.088,0.097,3.888,0.259,5.399h-6.738
                  c0.194-1.728,0.259-3.239,0.259-5.435v-7.379c0-1.439-0.129-2.087-0.518-2.7c-0.454-0.647-1.167-0.972-2.073-0.972
                  c-1.847,0-3.596,1.368-4.892,3.744v7.307c0,2.052,0.064,3.563,0.259,5.435H26.276z"/>
              </g>
              <g id="">
                <path class="st1" d="M63.047,15.55c0-1.728-0.939-2.52-3.078-2.52c-2.073,0-3.174,0.756-3.66,2.52l-6.188-1.116
                  c0.648-2.124,1.36-3.276,2.721-4.355c1.749-1.368,4.146-2.052,7.289-2.052c2.397,0,4.729,0.504,5.993,1.26
                  c2.073,1.26,2.98,3.239,2.98,6.479v9.719c0,2.196,0.065,3.492,0.227,5.111h-6.285V28.94c-1.814,1.548-3.628,2.16-6.285,2.16
                  c-2.462,0-4.308-0.648-5.604-1.979c-1.166-1.188-1.782-2.916-1.782-4.896c0-2.268,0.81-4.067,2.365-5.255
                  c1.652-1.296,3.823-2.052,6.738-2.34c1.263-0.144,2.235-0.18,4.567-0.252V15.55z M63.047,20.985
                  c-2.883,0.072-4.276,0.252-5.604,0.72c-1.167,0.432-1.879,1.332-1.879,2.375c0,1.296,0.972,2.052,2.656,2.052
                  c1.328,0,2.786-0.54,3.661-1.368c0.745-0.72,1.166-1.692,1.166-2.772V20.985z"/>
              </g>
              <g id="">
                <path class="st1" d="M72.769,30.596c0.194-1.692,0.259-3.204,0.259-5.435V14.074c0-2.483-0.065-3.995-0.259-5.435h6.447v1.512
                  c0,0.216-0.033,0.756-0.033,1.008c2.041-2.16,4.017-3.06,6.673-3.06c2.235,0,4.017,0.684,5.215,2.016
                  c1.296,1.44,1.847,3.204,1.847,6.047v9.035c0,2.088,0.097,3.888,0.259,5.399h-6.738c0.194-1.728,0.259-3.239,0.259-5.435v-7.379
                  c0-1.439-0.129-2.052-0.518-2.664c-0.421-0.648-1.167-1.008-2.138-1.008c-1.814,0-3.434,1.26-4.827,3.78v7.271
                  c0,2.052,0.064,3.563,0.259,5.435H72.769z"/>
              </g>
              <g id="">
                <path class="st1" d="M103.126,0.648c-0.194,1.476-0.259,3.024-0.259,5.436v10.115l3.563-3.924c1.49-1.656,2.203-2.591,2.818-3.635h8.617
                  c-1.263,1.224-1.652,1.62-3.401,3.527l-4.697,5.04l5.41,8.783c1.976,3.168,2.105,3.384,3.013,4.607h-8.261
                  c-0.486-1.512-1.199-3.096-2.138-4.823l-2.462-4.463l-2.429,2.592v1.439c0,2.952,0.032,3.816,0.259,5.255H96.55
                  c0.194-1.62,0.259-3.06,0.259-5.435V6.083c0-2.448-0.097-4.104-0.259-5.436H103.126z"/>
              </g>
              <g id="">
                <path class="st1" d="M131.51,13.462c-1.393-3.6-1.522-3.923-1.944-4.823h7.03c0.162,1.152,0.583,2.7,1.263,4.644l2.98,8.315l2.883-8.171
                  c0.907-2.483,1.198-3.527,1.393-4.787h7.03c-0.81,1.872-0.81,1.872-1.944,4.823l-7.418,19.042
                  c-1.296,3.384-3.628,4.932-7.321,4.932c-1.425,0-2.656-0.18-4.438-0.612l0.712-5.724c1.069,0.612,1.685,0.792,2.527,0.792
                  c1.231,0,2.138-0.612,2.624-1.692l0.68-1.548L131.51,13.462z"/>
              </g>
              <g id="">
                <path class="st1" d="M153.218,19.582c0-7.199,4.146-11.771,10.69-11.771c6.543,0,10.69,4.572,10.69,11.699c0,7.163-4.276,11.915-10.723,11.915
                  C157.364,31.424,153.218,26.817,153.218,19.582z M159.405,19.546c0,3.995,1.685,6.407,4.503,6.407s4.438-2.34,4.438-6.335
                  c0-4.031-1.652-6.407-4.406-6.407C161.09,13.21,159.405,15.586,159.405,19.546z"/>
              </g>
              <g id="">
                <path class="st1" d="M197.602,8.639c-0.194,1.692-0.259,3.204-0.259,5.399v11.123c0,2.483,0.064,3.959,0.259,5.399h-6.446v-1.548
                  c0-0.18,0-0.72,0.032-0.972c-2.138,2.232-3.984,3.096-6.738,3.096c-2.17,0-3.92-0.684-5.151-2.016
                  c-1.296-1.44-1.846-3.204-1.846-6.047v-9.035c0-2.088-0.097-3.888-0.259-5.399h6.738c-0.194,1.728-0.259,3.24-0.259,5.399v7.379
                  c0,1.476,0.129,2.124,0.518,2.7c0.454,0.648,1.167,1.008,2.105,1.008c1.782,0,3.596-1.404,4.859-3.708v-7.379
                  c0-2.016-0.065-3.528-0.259-5.399H197.602z"/>
              </g>
              <g id="">
                <path class="st1" d="M213.967,14.183c-1.522,0-2.527,0.072-3.628,0.252V8.387c0.907,0.144,2.397,0.252,3.628,0.252h0.875V6.947
                  c0-4.751,2.429-6.947,7.709-6.947c1.814,0,3.143,0.216,4.924,0.756l-1.004,5.292c-1.004-0.612-1.976-0.9-3.207-0.9
                  c-1.587,0-2.203,0.72-2.203,2.592v0.9h0.939c1.36,0,3.109-0.108,4.308-0.252v6.047c-1.36-0.18-2.43-0.252-4.244-0.252h-1.004
                  v10.979c0,2.483,0.064,3.671,0.259,5.435h-6.738c0.194-1.764,0.259-3.096,0.259-5.435V14.183H213.967z"/>
              </g>
              <g id="">
                <path class="st1" d="M228.58,19.582c0-7.199,4.146-11.771,10.69-11.771c6.543,0,10.69,4.572,10.69,11.699c0,7.163-4.276,11.915-10.723,11.915
                  C232.726,31.424,228.58,26.817,228.58,19.582z M234.767,19.546c0,3.995,1.685,6.407,4.503,6.407s4.438-2.34,4.438-6.335
                  c0-4.031-1.652-6.407-4.406-6.407C236.452,13.21,234.767,15.586,234.767,19.546z"/>
              </g>
              <g id="">
                <path class="st1" d="M267.166,15.118c-1.49-0.504-2.3-0.684-3.304-0.684c-1.652,0-2.916,0.647-3.855,1.943c-0.616,0.864-0.842,1.62-0.972,3.204
                  v5.615c0,2.304,0.064,3.672,0.259,5.399h-6.706c0.194-1.8,0.259-3.096,0.259-5.435V14.074c0-2.627-0.065-3.887-0.259-5.435h6.447
                  v2.844c1.587-2.304,3.531-3.276,6.479-3.276c1.037,0,1.685,0.072,3.207,0.432L267.166,15.118z"/>
              </g>
              <g id="">
                <path class="st1" d="M281.456,37.111c0.162-1.548,0.259-3.347,0.259-5.255V14.291c0-2.34-0.065-3.816-0.259-5.651h6.382v1.224
                  c0,0.216-0.032,0.504-0.032,0.684c1.943-1.8,3.952-2.556,6.641-2.556c2.851,0,5.183,0.936,6.867,2.771
                  c1.718,1.908,2.592,4.751,2.592,8.387c0,3.671-0.972,6.659-2.818,8.711c-1.652,1.835-4.017,2.843-6.673,2.843
                  c-1.522,0-3.175-0.36-4.374-0.936c-0.842-0.396-1.328-0.792-2.235-1.656c0,0.324,0,0.792,0.032,1.296v2.483
                  c0,2.016,0.065,3.671,0.259,5.219H281.456z M296.163,23.901c0.907-0.972,1.425-2.628,1.425-4.68c0-3.671-1.749-5.795-4.794-5.795
                  c-2.689,0-4.892,2.628-4.892,5.903c0,3.384,2.17,5.939,5.086,5.939C294.22,25.269,295.321,24.801,296.163,23.901z"/>
              </g>
              <g id="">
                <path class="st1" d="M313.271,0.648c-0.194,1.512-0.259,2.988-0.259,5.436v19.078c0,2.16,0.064,3.527,0.259,5.435h-6.771
                  c0.194-1.62,0.259-2.843,0.259-5.435V6.083c0-2.556-0.064-4.067-0.259-5.436H313.271z"/>
              </g>
              <g id="">
                <path class="st1" d="M329.665,15.55c0-1.728-0.939-2.52-3.077-2.52c-2.073,0-3.175,0.756-3.661,2.52l-6.188-1.116
                  c0.648-2.124,1.361-3.276,2.722-4.355c1.749-1.368,4.146-2.052,7.289-2.052c2.396,0,4.729,0.504,5.992,1.26
                  c2.073,1.26,2.98,3.239,2.98,6.479v9.719c0,2.196,0.065,3.492,0.227,5.111h-6.284V28.94c-1.814,1.548-3.628,2.16-6.284,2.16
                  c-2.462,0-4.309-0.648-5.604-1.979c-1.166-1.188-1.781-2.916-1.781-4.896c0-2.268,0.81-4.067,2.364-5.255
                  c1.652-1.296,3.822-2.052,6.738-2.34c1.263-0.144,2.235-0.18,4.567-0.252V15.55z M329.665,20.985
                  c-2.883,0.072-4.276,0.252-5.604,0.72c-1.166,0.432-1.879,1.332-1.879,2.375c0,1.296,0.972,2.052,2.656,2.052
                  c1.328,0,2.786-0.54,3.661-1.368c0.745-0.72,1.166-1.692,1.166-2.772V20.985z"/>
              </g>
              <g id="">
                <path class="st1" d="M339.841,13.462c-1.394-3.6-1.523-3.923-1.944-4.823h7.03c0.161,1.152,0.583,2.7,1.263,4.644l2.98,8.315l2.883-8.171
                  c0.907-2.483,1.199-3.527,1.394-4.787h7.029c-0.81,1.872-0.81,1.872-1.943,4.823l-7.419,19.042
                  c-1.296,3.384-3.628,4.932-7.321,4.932c-1.425,0-2.656-0.18-4.438-0.612l0.713-5.724c1.068,0.612,1.685,0.792,2.526,0.792
                  c1.231,0,2.138-0.612,2.624-1.692l0.681-1.548L339.841,13.462z"/>
              </g>
              <g id="">
                <path class="st1" d="M369.161,8.639c-0.194,1.476-0.259,2.916-0.259,5.435v11.087c0,1.944,0.097,3.887,0.259,5.435h-6.771
                  c0.194-1.764,0.259-3.131,0.259-5.435V14.074c0-2.339-0.064-3.815-0.259-5.435H369.161z M369.064,0.648v5.399h-6.576V0.648H369.064
                  z"/>
              </g>
              <g id="">
                <path class="st1" d="M372.597,30.596c0.194-1.692,0.259-3.204,0.259-5.435V14.074c0-2.483-0.064-3.995-0.259-5.435h6.446v1.512
                  c0,0.216-0.032,0.756-0.032,1.008c2.041-2.16,4.017-3.06,6.674-3.06c2.234,0,4.017,0.684,5.215,2.016
                  c1.296,1.44,1.847,3.204,1.847,6.047v9.035c0,2.088,0.098,3.888,0.259,5.399h-6.737c0.194-1.728,0.259-3.239,0.259-5.435v-7.379
                  c0-1.439-0.13-2.052-0.519-2.664c-0.421-0.648-1.166-1.008-2.138-1.008c-1.814,0-3.434,1.26-4.827,3.78v7.271
                  c0,2.052,0.065,3.563,0.26,5.435H372.597z"/>
              </g>
              <g id="">
                <path class="st1" d="M400.719,29.984c1.134,1.62,2.786,2.448,4.924,2.448c1.782,0,3.175-0.54,3.952-1.584c0.681-0.864,0.972-1.944,1.037-3.852
                  c-1.652,1.656-3.401,2.376-5.896,2.376c-5.636,0-9.199-4.104-9.199-10.655c0-6.407,3.66-10.619,9.199-10.619
                  c2.397,0,4.146,0.612,5.896,2.088c0-0.288,0-0.396,0-0.792V8.639h6.349c-0.194,1.62-0.259,2.879-0.259,5.003v12.634
                  c0,4.319-1.102,7.235-3.369,8.999c-1.749,1.368-4.471,2.124-7.71,2.124c-4.405,0-7.321-1.224-9.589-3.996L400.719,29.984z
                  M405.935,24.189c2.656,0,4.567-2.268,4.567-5.471s-1.911-5.507-4.535-5.507c-2.592,0-4.276,2.196-4.276,5.543
                  C401.69,22.065,403.375,24.189,405.935,24.189z"/>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </main><!-- .l-main -->

    <%- include('/footer') %>
  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>
  <script src="/assets/scripts/pages/firebase/index.js" defer></script>

</body>
</html>
